<style>
  * {
    font-size: 18px;
    max-width: 600px;
    line-height: 21px;
    font-family: Helvetica, sans-serif;
  }
</style>

<div class="message-content">
  <h1>Confirm your E-mail</h1>

 <p>
    Hello, {{name}}!
    One more step to begin take care your plants.<br/>
    Click on the link bellow to confirm your e-mail.
  </p>

  <a href={{link}}>confirm your email</a>
</div>
