<style>
  * {
    font-size: 18px;
    max-width: 600px;
    line-height: 21px;
    font-family: Helvetica, sans-serif;
  }
</style>

<div class="message-content">
  <h1>Forgot your Password?</h1>

  <p>
    Hello, {{name}}!
    You request a password change! <br />
    Click on the link bellow to reset your password.
  </p>

  <a href={{link}}>Reset your password</a>
</div>
